html
  head
    title= title
    link(rel="stylesheet", href="/css/style.css")
  body
    div(class="petra")
      div(class="inner-div")
        if passed 
          p(id='title')= message
          p(id='value')= result
        else
          p(id='error-title')= message
          p(id='value')= result

